In [25]:
import pandas as pd


polution_dataset = pd.read_csv(r'E:\datasets\polution_dataset\cleaned_dataset.csv', delimiter=',')
polution_dataset['Year'] = polution_dataset['Year'].astype(str)

In [26]:
polution_dataset

,Country,Year,PM2.5,PM10,TotalDeaths,PMDeaths,CitiesCount
0,Albania,2015,21.790000,32.415000,42.299773,21.786089,2
1,Albania,2016,21.480000,32.385000,41.018788,20.810664,2
2,Argentina,2015,10.260000,27.870000,33.086924,29.159094,1
3,Australia,2010,8.040000,15.323333,13.571713,13.140380,3
4,Australia,2011,7.316667,14.443333,13.727626,13.276676,3
...,...,...,...,...,...,...,...
328,United Kingdom,2014,11.708857,16.533143,18.084411,16.384936,35
329,United Kingdom,2015,9.711026,15.436154,18.243927,16.509079,39
330,United Kingdom,2016,10.245143,16.430857,17.891337,16.145949,35
331,United Kingdom,2017,9.039737,14.872105,17.783700,16.047669,38
332,Uruguay,2014,8.000000,25.830000,21.222999,18.554957,1

In [30]:
from dash import Dash, html, dcc, callback, Output, Input, dash_table
import plotly.express as px
import pandas as pd

In [31]:
# app = Dash(__name__)

# app.layout = html.Div([
#     html.H1(children='Title of Dash App', style={'textAlign':'center'}),
#     dcc.Dropdown(polution_dataset.Country.unique(), ' ', id='dropdown-selection'),
#     dcc.Graph(id='graph-content')
# ])

# @callback(
#     Output('graph-content', 'figure'),
#     Input('dropdown-selection', 'value')
# )
# def update_graph(value):
#     dff = polution_dataset[polution_dataset.Country==value]
#     return px.line(dff, x='Year', y='TotalDeaths')

# if __name__ == '__main__':
#     app.run(debug=True)

In [ ]:
#dabar reiktu dadeti pasirinkima pagal metus, pagal data

In [38]:
app = Dash(__name__)

app.layout = html.Div([
    html.H1(children='Title of Dash App', style={'textAlign':'center'}),
    dash_table.DataTable(data=polution_dataset.to_dict('records'), page_size=10),
    dcc.Dropdown(polution_dataset.Country.unique(), ' ', id='dropdown-selection'),
    dcc.Graph(id='graph-content')
])

@callback(
    Output('graph-content', 'figure'),
    Input('dropdown-selection', 'value')
)
def update_graph(value):
    dff = polution_dataset[polution_dataset.Country==value]
    return px.line(dff, x='Year', y='TotalDeaths')

if __name__ == '__main__':
    app.run(debug=True)